.main-div {
  display: flex;
  align-items: start;
  justify-content: space-around;
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
}

.image-collections {
  width: 30%;
  cursor: pointer;
}

.img-schools {
  height: 230px;
}

.image-collections img {
  height: 100%;
  width: 100%;
}

.image-collections h3 {
  line-height: 50px;
}

@media only screen and (max-width:980px) {
  .main-div {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 50px;
  }

  .image-collections {
    width: 90%;
  }
}

@media only screen and (max-width:450px) {
  .main-div {
    display: grid;
    grid-template-columns: auto;
    row-gap: 50px;
  }

  .image-collections {
    margin: auto;
  }
}