.about-button {
  color: rgb(17, 102, 187);
  border: solid rgb(17, 102, 187) 1px;
  border-radius: 15px;
  font-size: 20px;
  padding: 1px 15px;
  font-weight: 550;
  background-color: white;
  cursor: pointer;
}

.resource-button {
  color: rgb(17, 102, 187);
  border: solid rgb(17, 102, 187) 1px;
  border-radius: 15px;
  font-size: 20px;
  padding: 1px 15px;
  background-color: white;
  font-weight: 550;
  cursor: pointer;
}

.more-button {
  color: white;
  border: solid rgb(17, 102, 187);
  background: rgb(17, 102, 187);
  font-size: 20px;
  border-radius: 15px;
  padding: 1px 15px;
}

.contact-button {
  background-color: white;
  font-size: 20px;
  border: 1px solid;
  border-radius: 15px;
  padding: 1px 15px;
  font-weight: 550;
  color: rgb(87, 87, 87);
}