.project-work {
  display: grid;
  grid-template-columns: auto auto auto;
  max-width: 1200px;
  margin: auto;
  row-gap: 50px;
}

.project-work-specific {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  cursor: pointer;
}

@media (min-width:1100px) {
  .project-work-specific:hover {
    transform: scale(1.1);
    transition: 1s;

  }
}

@media (max-width:1100px) {
  .project-work {
    max-width: 1000px;
    grid-template-columns: auto auto;
  }
}

@media (max-width:700px) {
  .project-work {
    grid-template-columns: auto;
  }

  .project-work p {
    text-align: center;
  }
}

/* @media (max-width:330px) {
  .project-work img {
    width: 90% !important;
    height: auto;
  }
} */
.blog-section {
  min-height: fit-content;
  width: 1170px;
  margin: auto;
  border: solid white;
  background-image: url(/blog-background.jpg);
}

.blogs-details {
  height: 450px;
  font-family: 'Courier New', Courier, monospace;

}

.blog-heading {
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: -2px;
}

.blog-summary {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(0, 0, 0, 0.11);
}

.blog-accordion {
  background-color: rgba(0, 0, 0, 0.055) !important;
}

.blog-content {
  background-color: rgba(181, 187, 233, 0.329);
}

.blog-post:hover {
  transition: 1s;
  transform: scale(1.05);
  cursor: pointer;
}

.blog-question {
  background-color: rgba(151, 192, 1, 0.411) !important;
}

.blog-post img {
  object-fit: cover;
}

.backbutton-blog {
  position: fixed;
  top: 110px;
  left: 10px;
  padding: 5px 10px;
  background-color: #ff7300;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

@media (max-width:950px) {
  .blogs-details {
    display: grid !important;
    grid-template-columns: auto auto;
    height: 700px;
  }

  .blog-post {
    height: 300px;

  }

  .blog-section {
    width: 100% !important;
    height: auto;
    text-align: justify;
  }

}

@media (max-width:600px) {
  .blogs-details {
    display: grid !important;
    grid-template-columns: auto;
    height: 1000px;
  }
}