.project-work {
  display: grid;
  grid-template-columns: auto auto auto;
  max-width: 1200px;
  margin: auto;
  row-gap: 50px;
}

.project-work-specific {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  cursor: pointer;
}

@media (min-width:1100px) {
  .project-work-specific:hover {
    transform: scale(1.1);
    transition: 1s;

  }
}

@media (max-width:1100px) {
  .project-work {
    max-width: 1000px;
    grid-template-columns: auto auto;
  }
}

@media (max-width:700px) {
  .project-work {
    grid-template-columns: auto;
  }

  .project-work p {
    text-align: center;
  }
}

/* @media (max-width:330px) {
  .project-work img {
    width: 90% !important;
    height: auto;
  }
} */