* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: rgb(243, 243, 243);
}

:root {
  --mainwidth: 1200px;
}

.home-icon {}