.nav {
  width: 100%;
  background-color: white;
  border-bottom: rgb(221, 221, 221) 1px solid;
}

.nav-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: white;
  max-width: 1200px;
  width: 95%;
  padding: 0 2px;
  margin: auto;
}

.nav i {
  font-size: 20px;
}

.left-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.right-nav {
  display: flex;
  width: 300px;
  justify-content: space-around;
  gap: 10px;
}

.menu-icon {
  display: inline-block;
}

.search-box {
  position: relative;
  background-color: rgb(230, 230, 230);
  width: 250px;
  display: inline-block;
  height: 30px;
}

#search-box {
  background-color: transparent;
  border: none;
  height: 100%;
  text-indent: 50px;
  outline: none;
  width: 100%;
}


.search-box i {
  position: absolute;
  width: 40px;
  height: 100%;
  padding-left: 10px;
  padding-top: 5px;
  color: #333333;
  background-color: rgb(230, 230, 230);

}

.home-icon {}

.icon-div-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.icon-div-nav i {
  font-size: 20px;
}

.icon-name {
  font-size: 14px;
  color: rgb(0, 0, 0);
}

@media only screen and (max-width:700px) {
  .right-nav {
    display: none;
  }

}