.section {
  width: 90%;
  max-width: var(--mainwidth);
  margin: auto;
  height: 200vh;
  padding-top: 50px;
  display: flex;
  gap: 23px;
}


.firsts {
  position: relative;
  border: solid 1px rgb(119, 119, 119);
  border-radius: 5px;
  background-color: white;
  height: 100vh;
  width: 75%;
}

.sec-first-1 {
  height: 200px;
}

.seconds {
  border: solid 1px rgb(119, 119, 119);
  border-radius: 5px;
  height: 80vh;
  background-color: white;
  width: 30%;
}

.sec-second-1 {
  height: 80vh;
}

.profile-language,
.public-profile-url {
  height: 80px;
  border: solid 1px rgb(161, 154, 154);
  text-indent: 20px;
  padding-top: 10px;
}

.public-profile-url {
  margin-bottom: 20px;
}

.Heading {
  font-size: 22px;
  color: rgb(0, 0, 0);
}

.sub-text {
  color: grey;
}

.background-img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.basic-info {
  width: 95%;
  margin: auto;
  margin-top: 40px;
}

.info-button-collection {
  width: 70%;
  margin-top: 20px;
}

.basic-info a {
  color: rgb(10, 74, 138);
  text-decoration: none;
  font-weight: 600;
}

.basic-info-name {
  font-weight: 500;
}

.basic-info-role {
  font-weight: 500;
  font-size: 18px;
  color: rgb(72, 72, 72);
}

.basic-info-contact {
  font-weight: 500;
  font-size: 18px;
}

.info-button-collection {
  display: flex;
  justify-content: space-around;
}

.connect1 {
  background-color: rgb(10, 74, 138);
  height: 100px;
  width: 50%;
  margin-top: 50px;
  margin-left: 30px;
  padding: 20px;
}

.connect1 p {
  color: white;
  font-weight: bold;
}

.connect1 a {
  color: red;
  font-weight: bold;
}

.profile-img {
  position: absolute;
  cursor: pointer;
  color: blue;
  top: 80px;
  left: 80px;
  background-color: rgb(213, 23, 23);
  border: solid rgb(255, 255, 255) 3px;
  height: 150px;
  width: 150px;
  border-radius: 50%;

}

.profile-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}